/*  =============================================

//	$ 	ANATOMI
//	---------------------------------------------
//	* 	GRID SYSTEM GENERATOR
//	*	BY @MATTHEWBETA
//
//	==============================================  */



/*  =============================================

//	$ 	DEFAULTS

//	==============================================  */


// USE SILENT CLASSES AND EXTEND ?

$ghost-cells : false!default;

// COLUMN COUNT

$cell-units-alpha  : 4!default;
$cell-units-beta  : 6!default;
$cell-units-gamma : 12!default;

//GRID GUTTER %

$cell-gutter : 2.5%!default;

// BREAKPOINTS
// --------------------------------------------
// *	MOBILE FIRST 

$bp-alpha 	: 25em!default;
$bp-beta 	: 37.5em!default;
$bp-gamma 	: 62.5em!default;


/*  =============================================

//	$ 	MEDIA QUERIES MIXIN
//	---------------------------------------------
//	* 	EASILY ADD MEDIA QUERIES 
//	* 	version of http://css-tricks.com/naming-media-queries
//	* 	by @chriscoyier
//
//	==============================================  */

	@mixin anatomi-bp($bp) {

		@if $bp == alpha {
			@media only screen and (min-width: $bp-alpha) and (max-width: $bp-beta - 0.0625){ 		
				@content; 
			}
		}
		@else if $bp == beta {
			@media only screen and (min-width: $bp-beta) and (max-width: $bp-gamma - 0.0625){ 		
				@content; 
			}
		}
		@else if $bp == gamma {
			@media only screen and (min-width: $bp-gamma){ 			
				@content; 
			}
		}

	}

	/*  =============================================

	$ 	GRID MODULE
	---------------------------------------------
	* 	SET UP THE GRID AND THE GRID UNITS

	==============================================  */
	%clr {
	    &:before,
	    &:after {
	        content: " ";
	        display: table;
	    }
	    &:after {
	        clear: both;
	    }
	}

	.cell {
		position: relative;
		float: left;
	 	width: 100 + $cell-gutter;
	  	margin-left: $cell-gutter * -1;
	  	@extend %clr;
	}
	.cell__unit {
	  	float: left;
	  	display: block;
	  	width: 100% / (100 + $cell-gutter) * 100%;
	  	margin-left: $cell-gutter;
	}

/*  =============================================

//	$ 	GRID CALCULATOR
//	---------------------------------------------
//	* 	FOR CALCULATING EQUAL COLUMN SIZES
//	* 	@MATTHEWBETA
//
//	==============================================  */

	@mixin cols($size, $number) {
		
		@if type-of($number) == number {

			// removes % 
			$gutter: $cell-gutter / ($cell-gutter * 0 + 1); 

	  		width: 100% / ($size / $number) - $gutter ;

		} @else {

			@warn "Not a number value: #{$number}";
		}
	}

	// OFFSET - PUSHES COL TO RIGHT BY COL WIDTH(S)
	@mixin offset($size, $number) {

		@if type-of($number) == number {

			// removes % 
			$gutter: $cell-gutter / ($cell-gutter * 0 + 1); 

	 		margin-left: 100% / ($size / $number) + $gutter ;

		} @else {

			@warn "Not a number value: #{$number}";
		}
	}


	/* =============================================

	  > ALPHA

	==============================================*/

	@for $i from 1 through ($cell-units-alpha - 1){

		@if $ghost-cells {

		    %alpha-#{$i}-#{$cell-units-alpha} {
		        @include cols($cell-units-alpha, $i);
		    }
	    	
		} 
		@else {

		    .alpha-#{$i}-#{$cell-units-alpha} {
	        	@include cols($cell-units-alpha, $i);
	    	}
			
		}


	}

	/* =============================================

	  > OFFSET alpha

	==============================================*/
	
	@for $i from 1 through ($cell-units-alpha - 1){

		@if $ghost-cells {

		    %alpha-push-#{$i}-#{$cell-units-alpha} {
		        @include offset($cell-units-alpha, $i)
			}
		
		}

		@else {

			.alpha-push-#{$i}-#{$cell-units-alpha} {
		        @include offset($cell-units-alpha, $i)
			}
			
		}
	}

	/* =============================================

	  > BETA

	==============================================*/
	
	@include anatomi-bp(beta) {

		@for $i from 1 through ($cell-units-beta - 1){

			@if $ghost-cells { 

			    %beta-#{$i}-#{$cell-units-beta} {
			        @include cols($cell-units-beta, $i);
			    }

			}
			@else {

			    .beta-#{$i}-#{$cell-units-beta} {
			        @include cols($cell-units-beta, $i);
			    }
				
			}
		}

	/* =============================================

	  > OFFSET BETA

	==============================================*/
		
		@for $i from 1 through ($cell-units-beta - 1){

			@if $ghost-cells {  			
		    
			    %beta-push-#{$i}-#{$cell-units-beta} {
			        @include offset($cell-units-beta, $i)
				}

			}
			@else {

				.beta-push-#{$i}-#{$cell-units-beta} {
			        @include offset($cell-units-beta, $i)
				}
				
			}
		}
	
	}
	// MQ ENDS

	/* =============================================

	  > GAMMA

	==============================================*/

	@include anatomi-bp(gamma) { 

		@for $i from 1 through ($cell-units-gamma - 1){
			 
			 @if $ghost-cells { 

			    %gamma-#{$i}-#{$cell-units-gamma} {
			        @include cols($cell-units-gamma, $i);
			    }
			}
			@else {
				
			    .gamma-#{$i}-#{$cell-units-gamma} {
			        @include cols($cell-units-gamma, $i);
			    }

			}

		}

	/* =============================================

	  > OFFSET GAMMA

	==============================================*/
		
		@for $i from 1 through ($cell-units-gamma - 1){
		    @if $ghost-cells {  			
		    
			    %gamma-push-#{$i}-#{$cell-units-gamma} {
			        @include offset($cell-units-gamma, $i)
				}

			}
			@else {

				.gamma-push-#{$i}-#{$cell-units-gamma} {
			        @include offset($cell-units-gamma, $i)
				}
				
			}
		}

	}
