$color--text : #333!default;
$color--primary : #1ee075!default; 

body {
	background-color: $color--primary;
	color: $color--text;
}
.content--main {
	background-color: #f7f8f9;
	padding: 2em 0;
}
.content {
	max-width: 40em;
	margin: 0 auto;
}
.main-image {
	max-width: 200px;
}
.header--main {
	@extend .content;
	text-align: center;
	color: #fff;
	padding: 1em 0;
}
pre {
	padding: 2em;
	color: $color--primary;
	border: 2px solid #fff;
	border-radius: 1em;
	background-color: #000;
}
.example {
	border: 2px solid $color--primary;
}
.footer--main {
	padding: 2em 0;
	p {

		max-width: 40em;
		margin: 0 auto;
		color: #FFF;
	}
}