// USE SILENT CLASSES AND EXTEND ?

$ghost-grids : false!default;

// COLUMN COUNT

$grid-units-sml : 4!default;
$grid-units-med : 6!default;
$grid-units-wide : 12!default;

//GRID GUTTER %

$grid-gutter : 2.5%!default;

// BREAKPOINTS
// --------------------------------------------
// *	MOBILE FIRST 

$bp-s 	: 25em!default;
$bp-m 	: 37.5em!default;
$bp-w 	: 62.5em!default;
$bp-xw 	: 100em!default;
